body {
    margin: 0;
    padding: 0;
    background: #343E59;
    color: rgb(204, 204, 204);
    font-family: Montserrat, Arial, sans-serif;
}

hr {
    background: rgb(204, 204, 204);
}

.logo {
    color: #fff;
}

a:link {
    text-decoration: none;
}

.logo:hover {
    cursor: pointer;
    color: #fff;
}

.navbar {
    background: #2B2D3E;
    font-size: 65px;
    border-bottom: 2px solid #fff;
}

.navbar-title {
    padding: 10px;
}

.description {
    text-align: center;
}

.menu {
    background: #2B2D3E;
}

.option {
    font-size: 24px;
    padding: 10px 25px 10px 25px;
}

.option a {
    color: #fff;
}

.option:hover {
    cursor: pointer;
    background: #34374b;
}

.homepage-container {
    margin-top: 100px;
}

.jumbotron {
    background: #2B2D3E;
}

.display-table {
    border-collapse: collapse;
    background: #2B2D3E;
    width: 100%;
    font-size: 22px;
    margin-bottom: 100px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

tr:hover {background: #34374b;}

.btn-container {
    margin-top: 100px;
}

.save-btn {
    background: #2B2D3E;
    padding: 5px 10px;
    font-size: 20px;
}

.save-btn:hover {
    background: #34374b;
    cursor: pointer;
}

.footer {
    background: #2B2D3E;
    padding: 20px 0;
}